* {
  box-sizing: border-box;
  min-height: 0;

}

body {
  height: 700px;
  margin: 0;
  padding: 0;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    display: flex;
    align-content: center;
    justify-content: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #c66b06;
    width: 100%;
    z-index: -1;
}

#sobre {
margin-top: 70px;
font-size: 50px;
}

a {
  color: black;
  text-decoration: none;
}

#caminho {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  color: #efdfcd;
}

img {
  width: 100px;
  position: fixed;
  bottom: 0;
}

.bottom {
  position: fixed;
  bottom: 0;
  background: #b26005;
  width: 100%;
  margin: 0;
}

#redes {
  padding-left: 10px;
  padding-bottom: 60px;
  font-size: 30px;
}