body {
    height: 700px;
  margin: 0;
  padding: 0;
}

a {
    color: whitesmoke;
    transition: 0.3s;
    text-decoration: none;
}

a:hover {
color: #c66b06;
}

.paginas {
    display: flex;
    gap: 20px;
    justify-content: center;
    scale: 1.5;
    background-color: black;
}

h1 {
    display: flex;
    align-content: center;
    justify-content: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #c66b06;
    width: 100%;
    
}

img {
    width: 100px;
    position: fixed;
    bottom: 0;
  }
  
  .bottom {
    position: fixed;
    bottom: 0;
    background: #b26005;
    width: 100%;
    margin: 0;
  }
  
  #redes {
    padding-left: 10px;
    padding-bottom: 60px;
    font-size: 30px;
  }